* {
    box-sizing: border-box;      
}

body {
	background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png);
    font-family: Monaco, Menlo,"Andale Mono","lucida console","Courier New",monospace;
}

#content {
	margin: auto;
	margin-top: 5%;
	width: 90%;
}

.footer {
	clear: both;
}

.CodeMirror {
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 2), 0 0 15px rgba(0, 0, 0, 2);
}

.CodeMirror-scroll {
  height: 500px;
}

.CodeMirror-focused div.CodeMirror-selected {
     background: #414141;
}

.cm-s-ambiance .CodeMirror-gutter .CodeMirror-gutter-text {
    color: #BBBBBB;
}

.input, .output {
	float: left;
	width: 49%;
}

.input {
}

.output {
    font-family: 'ratio-n5','ratio','Helvetica Neue',Arial,sans-serif;
    box-shadow: 0 0 10px black inset, 0 0 15px rgba(0, 0, 0, 3), 0 0 15px rgba(0, 0, 0, 3);
    border-radius: 5px;
    height: 500px;
    overflow-y: hidden;
}

.output table{
    margin: auto;
    margin-bottom: 16px;
    width: 90%;
    border-collapse: collapse;
}

.output table tr {
    text-align: center;
    line-height: 1;
}

.captions{
    height: 15px;
}

.code {
    height: 25px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.code td {    
    outline: 1px solid white;
    padding: 0;
}

.captions, .bits {    
    color: white;
    font-size: 12px;
}

.CodeMirror-scroll.cm-s-ambiance {
    line-height: 40px;
}

.CodeMirror-lines, .CodeMirror-gutter-text {
    padding: 6px 10px;
}

.CodeMirror-scroll, .CodeMirror-scrollbar {
    overflow-y: hidden;
}

.scroll {
    width: 22px;
    float: left;
    height: 500px;
    overflow-y: auto;
    position: relative;
} 
.cm-s-ambiance .cm-operator { color: #cda869; }
.cm-s-ambiance .cm-register { color: #78CF8A; }
.cm-s-ambiance .cm-comment { color: #555; font-style:italic; }
.cm-s-ambiance .cm-number { color: #9999cc; }
.cm-s-ambiance .cm-label { color: #CDAD00; font-style:italic; }