#container{
	width: 50%;
	margin: auto;
	background: #e3e3e3;
}

#header{
	background: green;
}

#header p{
	margin-bottom: 0;
}

#sidebar {
	background: #e3e3e3;
	float: left;
	width: 35%;
}

#footer{
	background: black;
	color: white;
	clear: both;
}

h2 {
	margin-top: 0;
}

#main {
	background: #666;
	float: right;
	width: 65%;
}