<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MIPS</title>
        <link href="../../Styles/codemirror.css" rel="stylesheet" />
        <link href="../../Styles/ambiance.css" rel="stylesheet" />
        <link href="../../Styles/app.css" rel="stylesheet" />
        <script src="../../Scripts/jquery-1.8.2.js" type="text/javascript"></script>
        <script src="../../Scripts/jquery.ba-resize.js" type="text/javascript"></script>
        <script src="../../Scripts/underscore.js" type="text/javascript"></script>
        <script src="../../Scripts/underscore.string.js" type="text/javascript"></script>
        <script src="../../Scripts/knockout-2.1.0.debug.js" type="text/javascript"></script>
        <script src="../../Scripts/codemirror.js" type="text/javascript"></script>
        <script src="../../Scripts/assembly.js" type="text/javascript"></script>
        <script src="../../Scripts/app.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="content">
            <div class="input">
                <textarea id="view" rows="0" cols="0">j else
addi $t0, $t1, -32768
beq $t0, $t1, equal
bne $t0, $t1, different
#this command is not supposed to do anything
else: add $t0, $t1, $t2
addi $t0, $t1, -32768
ori $t0, $t1, 32767
equal: add $t0, $t1, $t2
addi $t0, $t1, -32768
different: ori $t0, $t1, 32767</textarea>
            </div>
            <div class="scroll">
                <div class="inner"></div>
            </div>
            <div class="output cm-s-ambiance">
                <table>
                    <tbody data-bind="foreach: commands">
                        <!--template for r-type commands-->
                        <tr data-bind="visible: isRType()" class="captions">
                            <td>op</td>
                            <td>rs</td>
                            <td>rt</td>
                            <td>rd</td>
                            <td>shamt</td>
                            <td>funct</td>
                        </tr>
                        <tr data-bind="visible: isRType()" class="code">
                            <td data-bind="text: op"></td>
                            <td data-bind="text: rs"></td>
                            <td data-bind="text: rt"></td>
                            <td data-bind="text: rd"></td>
                            <td data-bind="text: shamt"></td>
                            <td data-bind="text: funct"></td>
                        </tr>
                        <!--template for i-type commands-->
                        <tr data-bind="visible: isIType()" class="captions">
                            <td>op</td>
                            <td>rs</td>
                            <td>rt</td>
                            <td colspan="3">imm</td>
                        </tr>
                        <tr data-bind="visible: isIType()" class="code">
                            <td data-bind="text: op"></td>
                            <td data-bind="text: rs"></td>
                            <td data-bind="text: rt"></td>
                            <td data-bind="text: imm" colspan="3"></td>
                        </tr>
                        <!--template for j-type commands-->
                        <tr data-bind="visible: isJType()" class="captions">
                            <td>op</td>
                            <td colspan="5">addr</td>
                        </tr>
                        <tr data-bind="visible: isJType()" class="code">
                            <td data-bind="text: op"></td>
                            <td data-bind="text: addr" colspan="5"></td>
                        </tr>
                        <!--empty template-->
                        <tr data-bind="visible: isEmpty()" class="captions"></tr>
                        <tr data-bind="visible: isEmpty()" class="code"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>

